<%- include('../../shared/includes/head', { pageTitle: 'SignUp'}) %> 
  <link rel="stylesheet" href="/styles/auth.css">
  <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
  <h1>Sign Up</h1>
  <% if(inputData.errorMessage) { %>
    <section class="alert">
      <h2>Invalid Input</h2>
      <p><%= inputData.errorMessage %></p>
    </section>
  <% } %>
  <form action="/signup" method="POST">
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
    <p>
      <label for="emailAddress">E-Mail Address</label>
      <input type="email" name="emailAddress" id="emailAddress" value="<%= inputData.emailAddress %>">  
    </p>

    <p>
      <label for="confirmEmailAddress">Confirm E-Mail Address</label>
      <input type="email" name="confirmEmailAddress" 
      id="confirmEmailAddress" 
      value="<%= inputData.confirmEmailAddress %>">  
    </p>

    <p>
      <label for="password">Password</label>
      <input type="password" 
      name="password" 
      id="password"
      value="<%= inputData.password %>">
    </p>

    <hr>
    <!--Personal Information on Sign Up-->

    <p>
      <label for="fullName">Full Name</label>
      <input type="text" 
      name="fullName" 
      id="fullName" 
      value="<%= inputData.fullName %>">
    </p>

    <p>
      <label for="streetName">Street Address</label>
      <input type="text" 
      name="streetName"
      id="streetName" 
      value="<%= inputData.streetName %>">
    </p>

    <p>
      <label for="eircode">Eircode</label>
      <input type="text" 
      name="eircode" 
      id="eircode" 
      value="<%= inputData.eircode %>">
    </p>

    <p>
      <label for="county">County</label>
      <input type="text" name="county" 
      value="<%= inputData.county %>"
      id="county">
    </p>

    <button class="btn">Sign Up</button>
    <p id="login-btn"><a href="/login">Login</a></p>
  </form>
</main>

<%-include('../../shared/includes/footer') %>
